In [9]:
import numpy as np
import pandas as pd

In [10]:
#Reading data
data = pd.read_csv('movie.csv')
data.head()

,Year,Month,Title,Director,Cast,Genre
0,1992,NaN,Aa Okkati Adakku,E. V. V. Satyanarayana,"Rajendra Prasad, Rambha, Rao Gopal Rao",NaN
1,1992,NaN,Pelli Neeku Sukham Naaku,P. N. Ramchandra Rao,"Naresh, Divya Vani, Brahmanandam",NaN
2,1992,NaN,Pellaniki Premalekha Priyuraliki Subhalekha,Relangi Narasimha Rao,"Rajendra Prasad, Nandini, Babu Mohan, Brahmana...",NaN
3,1992,NaN,Pellante Noorella Panta,Muthyala Subbaiah,"S. P. Balasubrahmanyam, Srinivasa Varma, Aishw...",NaN
4,1992,NaN,Pellam Chebithe Vinali,Kodi Ramakrishna,"Harish Kumar, Meena, Meka Srikanth",NaN

In [12]:
# keeping the columns that are useful in recommndation system
data =data[['Title','Director','Cast','Genre']]
data.head()

,Title,Director,Cast,Genre
0,Aa Okkati Adakku,E. V. V. Satyanarayana,"Rajendra Prasad, Rambha, Rao Gopal Rao",NaN
1,Pelli Neeku Sukham Naaku,P. N. Ramchandra Rao,"Naresh, Divya Vani, Brahmanandam",NaN
2,Pellaniki Premalekha Priyuraliki Subhalekha,Relangi Narasimha Rao,"Rajendra Prasad, Nandini, Babu Mohan, Brahmana...",NaN
3,Pellante Noorella Panta,Muthyala Subbaiah,"S. P. Balasubrahmanyam, Srinivasa Varma, Aishw...",NaN
4,Pellam Chebithe Vinali,Kodi Ramakrishna,"Harish Kumar, Meena, Meka Srikanth",NaN

In [13]:
# dealing with null values
data.isnull().sum(axis=0)

Title         1
Director     68
Cast          6
Genre       431
dtype: int64

In [14]:
# replacing null values in the all columns with string 'unknown'
data['Title'] = data['Title'].replace(np.nan, 'unknown')
data['Director'] = data['Director'].replace(np.nan, 'unknown')
data['Cast'] = data['Cast'].replace(np.nan, 'unknown')
data['Genre'] = data['Genre'].replace(np.nan, 'unknown')

data.isnull().sum()

Title       0
Director    0
Cast        0
Genre       0
dtype: int64

In [16]:
# In the ‘genres’ column, replacing the ‘|’ with whitespace,
# so the genres would be considered different strings.
data['Genre'] = data['Genre'].replace('|', ' ')

In [17]:
# Now converting the ‘movie_title’ columns values to lowercase for searching simplicity.
data['Title'] = data['Title'].str.lower()

In [18]:
data.head()

,Title,Director,Cast,Genre
0,aa okkati adakku,E. V. V. Satyanarayana,"Rajendra Prasad, Rambha, Rao Gopal Rao",unknown
1,pelli neeku sukham naaku,P. N. Ramchandra Rao,"Naresh, Divya Vani, Brahmanandam",unknown
2,pellaniki premalekha priyuraliki subhalekha,Relangi Narasimha Rao,"Rajendra Prasad, Nandini, Babu Mohan, Brahmana...",unknown
3,pellante noorella panta,Muthyala Subbaiah,"S. P. Balasubrahmanyam, Srinivasa Varma, Aishw...",unknown
4,pellam chebithe vinali,Kodi Ramakrishna,"Harish Kumar, Meena, Meka Srikanth",unknown

In [19]:
# making the new column containing combination of all the features
data['comb'] = data['Director'] + ' '+ data['Cast'] +' ' + data['Genre']

data.head()

,Title,Director,Cast,Genre,comb
0,aa okkati adakku,E. V. V. Satyanarayana,"Rajendra Prasad, Rambha, Rao Gopal Rao",unknown,"E. V. V. Satyanarayana Rajendra Prasad, Rambha..."
1,pelli neeku sukham naaku,P. N. Ramchandra Rao,"Naresh, Divya Vani, Brahmanandam",unknown,"P. N. Ramchandra Rao Naresh, Divya Vani, Brahm..."
2,pellaniki premalekha priyuraliki subhalekha,Relangi Narasimha Rao,"Rajendra Prasad, Nandini, Babu Mohan, Brahmana...",unknown,"Relangi Narasimha Rao Rajendra Prasad, Nandini..."
3,pellante noorella panta,Muthyala Subbaiah,"S. P. Balasubrahmanyam, Srinivasa Varma, Aishw...",unknown,"Muthyala Subbaiah S. P. Balasubrahmanyam, Srin..."
4,pellam chebithe vinali,Kodi Ramakrishna,"Harish Kumar, Meena, Meka Srikanth",unknown,"Kodi Ramakrishna Harish Kumar, Meena, Meka Sri..."

In [20]:
data.to_csv('data.csv',index=False)